[submodule "bundle/strange.vim"]
	path = bundle/strange.vim
    url = https://github.com/strange/strange.vim.git
    branch = master
[submodule "bundle/YankRing.vim"]
	path = bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
    branch = master
	ignore = dirty
[submodule "bundle/vim-indentblank"]
	path = bundle/vim-indentblank
	url = https://github.com/deuiore/vim-indentblank.git
    branch = master
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
    branch = master
[submodule "bundle/vim-xoria256mod"]
	path = bundle/vim-xoria256mod
	url = https://github.com/deuiore/vim-xoria256mod.git
    branch = master
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
    branch = master
[submodule "bundle/neocomplcache.vim"]
	path = bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim.git
    branch = master
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
    branch = master
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
    branch = master
[submodule "bundle/html5.vim"]
	path = bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
    branch = master
[submodule "bundle/vim-hlextraws"]
	path = bundle/vim-hlextraws
	url = https://github.com/deuiore/vim-hlextraws.git
    branch = master
